<?php
/**
 * BoardSubtypeAssociationsApi
 * PHP version 5
 *
 * @category Class
 * @package  Spinen\ConnectWise\Clients\Service
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Service API
 *
 * ConnectWise Service API
 *
 * OpenAPI spec version: 1.0.0
 * Contact: platform@connectwise.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Api;

use \Spinen\ConnectWise\Clients\Service\ApiClient;
use \Spinen\ConnectWise\Clients\Service\ApiException;
use \Spinen\ConnectWise\Clients\Service\Configuration;
use \Spinen\ConnectWise\Clients\Service\ObjectSerializer;

/**
 * BoardSubtypeAssociationsApi Class Doc Comment
 *
 * @category Class
 * @package  Spinen\ConnectWise\Clients\Service
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class BoardSubtypeAssociationsApi
{
    /**
     * API Client
     *
     * @var \Spinen\ConnectWise\Clients\Service\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Spinen\ConnectWise\Clients\Service\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Spinen\ConnectWise\Clients\Service\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Spinen\ConnectWise\Clients\Service\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Spinen\ConnectWise\Clients\Service\ApiClient $apiClient set the API client
     *
     * @return BoardSubtypeAssociationsApi
     */
    public function setApiClient(\Spinen\ConnectWise\Clients\Service\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdDelete
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param int $association_id  (required)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return void
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdDelete($board_id, $subtype_id, $association_id)
    {
        list($response) = $this->serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdDeleteWithHttpInfo($board_id, $subtype_id, $association_id);
        return $response;
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdDeleteWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param int $association_id  (required)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdDeleteWithHttpInfo($board_id, $subtype_id, $association_id)
    {
        // verify the required parameter 'board_id' is set
        if ($board_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $board_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdDelete');
        }
        // verify the required parameter 'subtype_id' is set
        if ($subtype_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subtype_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdDelete');
        }
        // verify the required parameter 'association_id' is set
        if ($association_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $association_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdDelete');
        }
        // parse inputs
        $resourcePath = "/service/boards/{boardId}/subTypes/{subtypeId}/associations/{associationId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($board_id !== null) {
            $resourcePath = str_replace(
                "{" . "boardId" . "}",
                $this->apiClient->getSerializer()->toPathValue($board_id),
                $resourcePath
            );
        }
        // path params
        if ($subtype_id !== null) {
            $resourcePath = str_replace(
                "{" . "subtypeId" . "}",
                $this->apiClient->getSerializer()->toPathValue($subtype_id),
                $resourcePath
            );
        }
        // path params
        if ($association_id !== null) {
            $resourcePath = str_replace(
                "{" . "associationId" . "}",
                $this->apiClient->getSerializer()->toPathValue($association_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/service/boards/{boardId}/subTypes/{subtypeId}/associations/{associationId}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdGet
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param int $association_id  (required)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdGet($board_id, $subtype_id, $association_id)
    {
        list($response) = $this->serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdGetWithHttpInfo($board_id, $subtype_id, $association_id);
        return $response;
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdGetWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param int $association_id  (required)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation, HTTP status code, HTTP response headers (array of strings)
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdGetWithHttpInfo($board_id, $subtype_id, $association_id)
    {
        // verify the required parameter 'board_id' is set
        if ($board_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $board_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdGet');
        }
        // verify the required parameter 'subtype_id' is set
        if ($subtype_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subtype_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdGet');
        }
        // verify the required parameter 'association_id' is set
        if ($association_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $association_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsAssociationIdGet');
        }
        // parse inputs
        $resourcePath = "/service/boards/{boardId}/subTypes/{subtypeId}/associations/{associationId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($board_id !== null) {
            $resourcePath = str_replace(
                "{" . "boardId" . "}",
                $this->apiClient->getSerializer()->toPathValue($board_id),
                $resourcePath
            );
        }
        // path params
        if ($subtype_id !== null) {
            $resourcePath = str_replace(
                "{" . "subtypeId" . "}",
                $this->apiClient->getSerializer()->toPathValue($subtype_id),
                $resourcePath
            );
        }
        // path params
        if ($association_id !== null) {
            $resourcePath = str_replace(
                "{" . "associationId" . "}",
                $this->apiClient->getSerializer()->toPathValue($association_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation',
                '/service/boards/{boardId}/subTypes/{subtypeId}/associations/{associationId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsCountGet
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param string $conditions  (optional)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Count
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsCountGet($board_id, $subtype_id, $conditions = null)
    {
        list($response) = $this->serviceBoardsBoardIdSubTypesSubtypeIdAssociationsCountGetWithHttpInfo($board_id, $subtype_id, $conditions);
        return $response;
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsCountGetWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param string $conditions  (optional)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Count, HTTP status code, HTTP response headers (array of strings)
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsCountGetWithHttpInfo($board_id, $subtype_id, $conditions = null)
    {
        // verify the required parameter 'board_id' is set
        if ($board_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $board_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsCountGet');
        }
        // verify the required parameter 'subtype_id' is set
        if ($subtype_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subtype_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsCountGet');
        }
        // parse inputs
        $resourcePath = "/service/boards/{boardId}/subTypes/{subtypeId}/associations/count";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($conditions !== null) {
            $queryParams['conditions'] = $this->apiClient->getSerializer()->toQueryValue($conditions);
        }
        // path params
        if ($board_id !== null) {
            $resourcePath = str_replace(
                "{" . "boardId" . "}",
                $this->apiClient->getSerializer()->toPathValue($board_id),
                $resourcePath
            );
        }
        // path params
        if ($subtype_id !== null) {
            $resourcePath = str_replace(
                "{" . "subtypeId" . "}",
                $this->apiClient->getSerializer()->toPathValue($subtype_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Count',
                '/service/boards/{boardId}/subTypes/{subtypeId}/associations/count'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Count', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Count', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsGet
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param string $conditions  (optional)
     * @param string $order_by  (optional)
     * @param string $childconditions  (optional)
     * @param string $customfieldconditions  (optional)
     * @param int $page  (optional)
     * @param int $page_size  (optional)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation[]
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsGet($board_id, $subtype_id, $conditions = null, $order_by = null, $childconditions = null, $customfieldconditions = null, $page = null, $page_size = null)
    {
        list($response) = $this->serviceBoardsBoardIdSubTypesSubtypeIdAssociationsGetWithHttpInfo($board_id, $subtype_id, $conditions, $order_by, $childconditions, $customfieldconditions, $page, $page_size);
        return $response;
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsGetWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param string $conditions  (optional)
     * @param string $order_by  (optional)
     * @param string $childconditions  (optional)
     * @param string $customfieldconditions  (optional)
     * @param int $page  (optional)
     * @param int $page_size  (optional)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation[], HTTP status code, HTTP response headers (array of strings)
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsGetWithHttpInfo($board_id, $subtype_id, $conditions = null, $order_by = null, $childconditions = null, $customfieldconditions = null, $page = null, $page_size = null)
    {
        // verify the required parameter 'board_id' is set
        if ($board_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $board_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsGet');
        }
        // verify the required parameter 'subtype_id' is set
        if ($subtype_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subtype_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsGet');
        }
        // parse inputs
        $resourcePath = "/service/boards/{boardId}/subTypes/{subtypeId}/associations";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($conditions !== null) {
            $queryParams['conditions'] = $this->apiClient->getSerializer()->toQueryValue($conditions);
        }
        // query params
        if ($order_by !== null) {
            $queryParams['orderBy'] = $this->apiClient->getSerializer()->toQueryValue($order_by);
        }
        // query params
        if ($childconditions !== null) {
            $queryParams['childconditions'] = $this->apiClient->getSerializer()->toQueryValue($childconditions);
        }
        // query params
        if ($customfieldconditions !== null) {
            $queryParams['customfieldconditions'] = $this->apiClient->getSerializer()->toQueryValue($customfieldconditions);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($page);
        }
        // query params
        if ($page_size !== null) {
            $queryParams['pageSize'] = $this->apiClient->getSerializer()->toQueryValue($page_size);
        }
        // path params
        if ($board_id !== null) {
            $resourcePath = str_replace(
                "{" . "boardId" . "}",
                $this->apiClient->getSerializer()->toPathValue($board_id),
                $resourcePath
            );
        }
        // path params
        if ($subtype_id !== null) {
            $resourcePath = str_replace(
                "{" . "subtypeId" . "}",
                $this->apiClient->getSerializer()->toPathValue($subtype_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation[]',
                '/service/boards/{boardId}/subTypes/{subtypeId}/associations'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsPost
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation $subtype_association  (required)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsPost($board_id, $subtype_id, $subtype_association)
    {
        list($response) = $this->serviceBoardsBoardIdSubTypesSubtypeIdAssociationsPostWithHttpInfo($board_id, $subtype_id, $subtype_association);
        return $response;
    }

    /**
     * Operation serviceBoardsBoardIdSubTypesSubtypeIdAssociationsPostWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Service API generated by Swagger Code Generator.
     *
     * @param int $board_id  (required)
     * @param int $subtype_id  (required)
     * @param \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation $subtype_association  (required)
     * @throws \Spinen\ConnectWise\Clients\Service\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation, HTTP status code, HTTP response headers (array of strings)
     */
    public function serviceBoardsBoardIdSubTypesSubtypeIdAssociationsPostWithHttpInfo($board_id, $subtype_id, $subtype_association)
    {
        // verify the required parameter 'board_id' is set
        if ($board_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $board_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsPost');
        }
        // verify the required parameter 'subtype_id' is set
        if ($subtype_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subtype_id when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsPost');
        }
        // verify the required parameter 'subtype_association' is set
        if ($subtype_association === null) {
            throw new \InvalidArgumentException('Missing the required parameter $subtype_association when calling serviceBoardsBoardIdSubTypesSubtypeIdAssociationsPost');
        }
        // parse inputs
        $resourcePath = "/service/boards/{boardId}/subTypes/{subtypeId}/associations";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($board_id !== null) {
            $resourcePath = str_replace(
                "{" . "boardId" . "}",
                $this->apiClient->getSerializer()->toPathValue($board_id),
                $resourcePath
            );
        }
        // path params
        if ($subtype_id !== null) {
            $resourcePath = str_replace(
                "{" . "subtypeId" . "}",
                $this->apiClient->getSerializer()->toPathValue($subtype_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($subtype_association)) {
            $_tempBody = $subtype_association;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation',
                '/service/boards/{boardId}/subTypes/{subtypeId}/associations'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\SubtypeAssociation', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Service\Spinen\ConnectWise\Clients\Service\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
